@charset "utf-8";

body {
    text-align: center;
    background-color: #FFFFFF;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#cabecera {
	height: 200px;
    width: 1050px;
    margin-top: -10px;
}

#banner {
    width: 1200px;
    height: 200px;
    background-size: cover;
}

nav {
    background-color: #1a3d4b;
    color: #FFFFFF;
    margin-top: -20px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
    font-family: 'Inconsolata', monospace;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #91AFB8;
}

#contenido {
    float: left;
    width: 900px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 30px;
    background: #C9DFE7;
}

h1 {
    font-family: 'Skranji', cursive;
}

p {
    font-family: 'Karla', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
    padding: 5px 30px;
    font-size: 25px;
    line-height: 1.5em;
}

.cita {
    text-align: justify;
}

#contenido a {
    color: rgba(34, 34, 34, 0.74); 
    text-decoration: underline;   
}

#contenido a:hover {
    color: #FFFFFF;
}

.glosario{
    text-justify: inter-word;
    margin-left: 50px;
    text-align: justify;
    margin-bottom: 65px;
    margin-top: 65px;
}

.glosario p,dt {
    font-weight: bold;
}

.glosario dl,dd {
    font-size: .9rem;
}

.glosario dd {
    margin-bottom: 1em;
}

#comentarios {
    float: left;
    width: 900px;
    margin-top: 10px;
    margin-left: 0px
}

#comentarios a {
    color: #000;
}

#columna {
    float: left;
    width: 230px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 25px;
    background: #C9DFE7;
}

#columna small {
    font-family: 'Inconsolata', sans-serif;
}

#columna img {
    max-width:100%;
    height:auto;
}

#audio {
    margin-top: 20px;
    width: 225px;
    margin-bottom: 20px;
}

#pie {
    clear: both;
    width: 1200px;
    border-top: 5px dashed #285e74;
}

#pie p {
    font-family: 'Karla', sans-serif;
    text-align: center;
}



